<ion-header>
  <ion-toolbar>
    <ion-title>Model Header</ion-title>
    <ion-button (click)="dismiss()" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="close"></ion-icon>

    </ion-button>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="main" #main>
  </div>

  <div class="sub">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{name}}</ion-card-subtitle>
        <ion-card-title>{{education}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>

