ion-content {
  div{
    &.main{
      background-color: transparent;
      width: 100%;
      height: 50%;
    }

  }
  div{
    &.sub{
    background-color: green;
    width: 100%;
    height: 50%;
    }
  }
}
