<ion-header>
  <ion-toolbar color="primery">
      <ion-title color="light">
        MyFirstApp
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list detail>
  <div style="padding: 15px;">
    <ion-label>IOS Developers</ion-label>
  </div>

    <ion-item style="padding: 10px;padding-bottom: 2px;padding-top: 0px;" lines="none">
      <ion-avatar slot="start" style="width: 50px;height:50px;">
        <img src="assets/images/download.png">
      </ion-avatar>

    <ion-label>
      <h1 style = "color: black;">Hitedra</h1>
      <h1 style = "color:gray;font-size: 12px;">Sr. iOS Developer</h1>
    </ion-label>
    </ion-item>

    <ion-item style="padding: 10px;padding-bottom: 2px;" lines="none">
      <ion-avatar slot="start" style="width: 50px;height:50px;">
        <img src="assets/images/download.png">
      </ion-avatar>

    <ion-label>
      <h1 style = "color: black;">Hitedra</h1>
      <h1 style = "color:gray;font-size: 12px;">Sr. iOS Developer</h1>
    </ion-label>
    </ion-item>

    <ion-item style="padding: 10px;padding-bottom: 2px;" lines="none">
      <ion-avatar slot="start" style="width: 50px;height:50px;">
        <img src="assets/images/download.png">
      </ion-avatar>

    <ion-label>
      <h1 style = "color: black;">Hitedra</h1>
      <h1 style = "color:gray;font-size: 12px;">Sr. iOS Developer</h1>
    </ion-label>
    </ion-item>

    <ion-item style="padding: 10px;padding-bottom: 2px;" lines="none">
      <ion-avatar slot="start" style="width: 50px;height:50px;">
        <img src="assets/images/download.png">
      </ion-avatar>

    <ion-label>
      <h1 style = "color: black;">Hitedra</h1>
      <h1 style = "color:gray;font-size: 12px;">Sr. iOS Developer</h1>
    </ion-label>
    </ion-item>


    <ion-item style="padding: 10px;padding-bottom: 2px;" lines="none">
      <ion-avatar slot="start" style="width: 50px;height:50px;">
        <img src="assets/images/download.png">
      </ion-avatar>

    <ion-label>
      <h1 style = "color: black;">Hitedra</h1>
      <h1 style = "color:gray;font-size: 12px;">Sr. iOS Developer</h1>
    </ion-label>
    </ion-item>

    <div style="padding: 15px;">
      <ion-label>.Net Developers</ion-label>
    </div>

    <ion-item style="padding: 10px;padding-bottom: 2px;padding-top: 0px;" lines="none">
      <ion-avatar slot="start" style="width: 50px;height:50px;">
        <img src="assets/images/download.png">
      </ion-avatar>

    <ion-label>
      <h1 style = "color: black;">Hitedra</h1>
      <h1 style = "color:gray;font-size: 12px;">Sr. iOS Developer</h1>
    </ion-label>
    </ion-item>

    <ion-item style="padding: 10px;padding-bottom: 2px;" lines="none">
      <ion-avatar slot="start" style="width: 50px;height:50px;">
        <img src="assets/images/download.png">
      </ion-avatar>

    <ion-label>
      <h1 style = "color: black;">Hitedra</h1>
      <h1 style = "color:gray;font-size: 12px;">Sr. iOS Developer</h1>
    </ion-label>
    </ion-item>


    <ion-item style="padding: 10px;padding-bottom: 2px;" lines="none">
      <ion-avatar slot="start" style="width: 50px;height:50px;">
        <img src="assets/images/download.png">
      </ion-avatar>

    <ion-label>
      <h1 style = "color: black;">Hitedra</h1>
      <h1 style = "color:gray;font-size: 12px;">Sr. iOS Developer</h1>
    </ion-label>
    </ion-item>


    <ion-item style="padding: 10px;padding-bottom: 2px;" lines="none">
      <ion-avatar slot="start" style="width: 50px;height:50px;">
        <img src="assets/images/download.png">
      </ion-avatar>

    <ion-label>
      <h1 style = "color: black;">Hitedra</h1>
      <h1 style = "color:gray;font-size: 12px;">Sr. iOS Developer</h1>
    </ion-label>
    </ion-item>

    <ion-item style="padding: 10px;padding-bottom: 2px;" lines="none">
      <ion-avatar slot="start" style="width: 50px;height:50px;">
        <img src="assets/images/download.png">
      </ion-avatar>

    <ion-label>
      <h1 style = "color: black;">Hitedra</h1>
      <h1 style = "color:gray;font-size: 12px;">Sr. iOS Developer</h1>
    </ion-label>
    </ion-item>
</ion-list>


</ion-content>
