#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-item {
  --background:white;
  --border-radius: 10px;
  --border-style: solid;
  --border-width: 0px;
  --color: #ffffff;
  --detail-icon-opacity: 1;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 20px;
  --padding-top: 0px;
}

