ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  }

.button{
  position: absolute;
  top: 0px;
  z-index: 2;
  ion-buttons{
    ion-button{
      ion-icon{
        font-size: 45px;
        margin: 0px 10px;
      }
    }
  }


}
