<!-- <ion-header>
  <ion-toolbar>
    <ion-title>slideBackground</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen>

  <div class="button">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="battery-full"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="cafe"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>



    <ion-slides mode="ios" pager="ios" scrollbar="ios">
      <ion-slide *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
        <ion-infinite-scroll>
        <ion-img src="http://placeimg.com/640/480/{{i}}}"></ion-img>
      </ion-infinite-scroll>
      </ion-slide>
    </ion-slides>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-title>slideBackground</ion-title>
  </ion-toolbar>
</ion-footer> -->
