<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col  class="ion-align-self-start" *ngFor = "let index of [1,2,3,1,2,3]" style="background-color: red;">
        <div class="ion-text-center">
          {{index}} of 4
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
