ion-content {
  --background: #ffffff;
  --color: #3880ff;
  --keyboard-offset: 0px;
  --offset-bottom: 0px;
  --offset-top: 0px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
  ion-grid{
    --ion-grid-column-padding:        5px;
  }


  #header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;

  }
  .prifileImage{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

}
