<ion-header mode="ios" >
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title>Instagram</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="send" style="font-size: 24px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="story-list">
    <div class="scroll-horizontal">
      <div class="hide-show-storyui">
        <div class="innerbackground">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </div>
      </div>

      <div class="scroll-item">
        <div class="scroll-item-sound">
          <ion-icon name="mic"></ion-icon>
        </div>
        <div class="item-label text-muted">
          Hitendra
        </div>
      </div>

      <div class="scroll-item" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
        <div class="item-avatar">
          <ion-avatar class="avatar-md has-update has-status">
            <img src="http://placeimg.com/100/100/{{i}}}">
          </ion-avatar>
         </div>
          <div class="item-label">
            John
          </div>
      </div>

    </div>
  </div>

  <div style="width: 100%;height: 50px;background-color: gray;">

  </div>

</ion-content>
