.story-list{
  padding: 16px 0px 8px;
  border-bottom: 1px solid #ddd;
  .scroll-horizontal{
    display: flex;
    align-items: center;
    padding-left: 16px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    .scroll-item{
      position: relative;
      display: inline-block;
      margin-right: 16px;
      margin-bottom: 5px;
      text-align: center;
      .scroll-item-sound{
        width: 70px;
        height: 70px;
        background-color: red;
        border-radius: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        ion-icon {
          font-size: 35px;color: white;
        }
      }
    }
    .hide-show-storyui{
      position: relative;
      display: inline-block;
      margin-right: 16px;
      margin-bottom: 5px;
      .innerbackground{
        padding: 20px 0px;
        background-color: #ddd;
        border-radius: 15px;
        ion-icon {
          font-size: 40px;
        }
      }
    }
    .item-label{
      font-size: 15px;
      margin-top: 8px;
    }

    ion-avatar{
      height: 70px;
      width: 70px;
      &.has-update{
        padding: 2xp;
        border: 2px solid green;
      }
    }
  }
}
