<ion-header>
  <ion-toolbar>
    <ion-title>modelview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="divMain">
    <ion-button (click)="openModel()" expand="block" shape="round">
      Open Model
    </ion-button>
    <ion-label>{{fromModel}}</ion-label>
    <div style="width: 100%;height: 100%;background-color:#00000090;position: absolute;top: 0;" (click)="hideDiv()" *ngIf="hide">
    </div>
  </div>

</ion-content>
